{% extends 'root.html'%} 
{% comment %} {% load bootstrap4 %} {% endcomment %}
{% load humanize%}

{% block contents %}
<a href = "{% url 'product:product_of_week'%}">최신상품보기(일주일) </a>
<hr>
<div>
<form method = "POST" action = "" class = 'mb-3'>
{% comment %} {% bootstrap_form form %} {% endcomment %}
{% csrf_token %}
<input type = "text" name = 'q' > </input>
<input type = 'submit' value = "search">
</form>

</div>
<hr>
<table border = "1">
    <thead>
        <tr>
            <th>상품사진</th>
            <th>상품명</th>
            <th>상품가격</th>
            <th>주문하기</th>
        </tr>
    </thead>
            <tr>
                {% for p in product %}
         <tbody>
                <td>
                    {% for photo in p.photo_set.all %}
                    <img src = "{{ photo.image.url }}" style = "height:100px", "width:100px">  <br>
                    {% endfor %}
                </td>

            <td>{{ p.p_name }}</td>
            <td>{{ p.price|intcomma}}</td>
                <td>
                         <form method="POST" action="{% url 'product:list_add' p.pk %} " enctype="multipart/form-data">
                        {{form.as_p }} 
                        {% csrf_token %}
                        <input type="submit" value="주문하기">
                        </form>
           
                </td>
            {% endfor %}
    </tbody>
        </tr>
</table>
<hr>
{% if product.previous_page_number > 0 %}
<a href="?page={{ product.previous_page_number}} " > 이전</a>
{% endif %}
현재: {{page}}
{% if product.has_next %}
<a href="?page={{ product.next_page_number}} " > 다음</a>
{% else %}        
        마지막
{% endif %}


{% endblock %}
